<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>

<div class="card shadow-sm">
  <div class="card-body">
    <h4>
      The secret word is:
      <span class="badge bg-primary"> <%= secretWord %> </span>
    </h4>

    <form method="POST" class="mt-3">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">
      <input
        name="secretWord"
        class="form-control mb-2"
        placeholder="Enter new word"
      />
      <button class="btn btn-dark">Update</button>
    </form>
  </div>
</div>

<%- include("partials/footer.ejs") %>
